<%= link_to "create", emails_path(@email), method: :post, class: "btn btn-primary", remote: true %>
<h1 class="text-center mb-4">Mail</h1>
<div class="container">
  <div class="card">
    <table>
      <tr>
        <td>ID</td>
        <td>OBJECT</td>
        <td>EMAIL</td>
      </tr>
    </table>
  </div>
  <div class="card">
    <table id="emails-list">
      <% @emails.each do |email|%>
      <tr id="<%= email.id  %>">
        <td id="zzz"><%= email.id  %></td>
        <td id="yyy"><%= link_to email.object, email_path(email), method: :get, remote: true%></td>
        <td id="xxx"></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
